html{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}
body{
    font-family: Ubuntu-L;
    font-size: 16px;
    width: 1280px;
}

a{
    color: #fff;
    text-decoration: none;
}
p{
    color: #000;
    line-height: 20px;
}

h2{
    font-family: Ubuntu-R;
    font-size: 1.3em;
    color:#fff;
}
h3{
    padding: 15px 0 5px 0;
    text-align: left;
    font-size: 1.1em;
    font-family: 'Ubuntu-R';
}
sub{
    display: block;
    font-size: 2em;
    font-family: 'Ubuntu-R';
    text-align: left;
    padding: 5px 5px 5px 0px;
}
sup{
    display: block;
    font-size: 1em;
    font-family: 'Ubuntu-M';
    text-align: left;
    padding: 0px 5px 5px 5px;
    color: rgb(255, 46, 52);
}
span{
    font-family: 'Ubuntu-M';
}
label{
    color: #fff;
}
header{
    height: 70px;
    background: #35393c;
    width: 100%;
}
.select{
        background: rgba(0, 0, 0, 0);
    /* border: none; */
    font-size: 1em;
    height: 40px;
    padding: 5px;
    width: 250px;
    margin: 0 auto;
    display: block;
}

.box{
    position: relative;
    transition: all 0.5s ease;
    }
.nav-menu{
    height: 100%;
}
.separador{
    padding: 0 10px;
}

header nav a p{
    padding: 25px 2px;
}

header nav a p, .separador{
    color: #fff;
    font-size: 1.1em;
    font-family: Ubuntu-M;
    transition: all .2s ease-in-out;
}

header nav a p:hover{
    color: #EFC34A;
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.slider{
    height: 400px;
    width: 100%;
    background: ghostwhite;
}

/* | Inicio Banner |*/

.banner{
    height: 200px;
    width: 100%;
    background-color:  #35393c;
}
.img_banner img{
    height: 200px;
}

.slogan{
    padding-top: 1.3em;
}
.span_banner{
    font-size: 2.38em;
    color: #FFF;
    font-family: Ubuntu-M;
    line-height: 1.3em;
}
.h2_banner{
    padding-top: 1.3rem;
}
/* | Fin Banner |*/


.mostrarOcultar{
    display: block;
}


.quienessomos{
    background-color:#e6e6e6;
    width: 100%;
    padding: 20px 0px 0px 0px;
}
.somos-images{
 display: block;
}
.row-quienes-somos{
    width: 90%;
    margin: 0 auto;
}
.lista-quienes-somos{
    text-align: left;
    padding: 10px 0 20px 0;
    list-style-image: url("../images/check.png");
    margin-left: 2rem;
}

.quienessomos-politicas{
    padding-left: 2.5rem;

}

.lista-quienes-somos li, .parrafo-quienessomos{
    padding: 5px 0;
    font-size: 1.1em;
    text-align: left;
}
.servicios{
    /*height: 430px;*/
    width: 100%;
    padding: 2em 0;
}
.box-servicios{
    position: relative;
    max-width: 288px;
}
.box-servicios:hover > .titulo-servicios{
    z-index: 99;
    position: relative;
    opacity: 1;
}

.resetLeft{
    margin-left: 0!important;
}
.resetRigth{
    margin-right: -1.3em;
}
.servicios sub{
    text-align: center;
    padding: 5px 5px 15px 0px;
}
.servicios hr{
    width: 40%;
    margin: 0 auto;
    padding-top: 10px;
}
.titulo-servicios{
    background-color: #E6E6E6;
    padding: 10px 0;
    opacity: 0;
    margin-top: -46px;
    position: relative;
    border-bottom: 5px solid #35393C;
}
.titulo-servicios sup{
    text-align: center;
    font-size: 1.2em;
}


/* Inicio hover */
.caption-style-3{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    cursor: pointer;
}

.caption-style-3 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.caption-style-3 li:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.caption-style-3 li:hover img{
    opacity: 1;
    transform: translateY(-40px);
    -webkit-transform:translateY(-40px);
    -moz-transform:translateY(-40px);
    -ms-transform:translateY(-40px);
    -o-transform:translateY(-40px);

}


.caption-style-3 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}


.caption-style-3 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top:270px;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
    width: 100%;
}

.caption-style-3 img{
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;

}
.caption-style-3 .blur{
    /* background-color: rgba(142, 68, 173,0.95);*/
    background-color: #EFC34A;
    height: 300px;
    width: 288px;
    z-index: 5;
    position: absolute;
}

.caption-style-3 .caption-text h2{
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: 1px 1px 0px #000;
}
.caption-style-3 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    max-width: 288px;
    height: 300px;
    text-align: center;
    top:20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.da-slider-secundario{
    height: 110px !important;
}

.text-negro{
    color: #000;
}
/* Gallery de Productos*/
.gallery {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0px 0 30px 0;
}
.gallery li{
    position: relative;
    width: 33.333%;
    float: left;
    padding: 0.625rem;
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}

.gallery li .box {
     position: relative;
    padding: 6px 6px 6px 6px;
    background-color: #FFF;
    overflow: hidden;
}

.gallery li figure {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}
.gallery li img {
    width: 100%;
    height: auto;
}
.gallery li h3 {
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
}

.sup-gallery{
    opacity: 0;
    padding: 11px;
    -webkit-transition: bottom .3s ease-in-out;
    -moz-transition: bottom .3s ease-in-out;
    -o-transition: bottom .3s ease-in-out;
    transition: bottom .3s ease-in-out;
    display: flex;
    justify-content: flex-start;
    top: 255px;
    position: absolute;
    left: 270px;
}
.sup-gallery a{
    background-color: #E21F1D;
    padding: 5px;
    font-family: 'Ubuntu-R';
    margin: 0 6px 0 6px;
    font-size: 1.2em;
}
.box:hover{
  box-shadow: 0px 0px 10px #888;
}
.box:hover > .sup-gallery {
  opacity: 1;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
}
.btn{
      border: 1px solid #dedede;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font: bold 12px/12px;
  padding: 8px 11px;
  text-decoration: none;
  font-family: 'Ubuntu-L';
}
.btn.red {
    font-size: 1.5em;
    color: #FFF;
    cursor: pointer;
    padding: 10px;
    background: -moz-linear-gradient( top, #f598a4 0%, #e64356);
    background: -webkit-gradient( linear, left top, left bottom, from(#F598A4), to(#E64356));
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #CA3851;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px -1px 0px rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 100%;
}

.btn.red:hover {
    background: #F67C90;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56c7e', endColorstr='#f78297');
    background: -webkit-linear-gradient(top, #F56C7E, #F78297);
    background: -moz-linear-gradient(top, #f56c7e, #f78297);
    border-color: #C36079 #C25669 #C14E5C;
    color: #fff !important;
    text-shadow: 0 1px 0 #F9A6B4;
    box-shadow: 0 1px 1px #C3C3C3, inset 0 1px 0 #F8909E;
}
/* Hover perron */

footer{
    background-color: rgb(260,46,52);
    height: 50px;
    width: 100%;
}
.logo_footer{
    width: 210px;
    height: 80%;
    margin-left: 1em;
}
.logo_footer span{
    color: #fff;
}


/*
Medias
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width : 480px) {
    /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
    /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    /* Styles */
}
/* iPads (portrait and landscape) ----------- */

@media only screen and (min-width : 768px) and (max-width : 1023px) {

    .span_banner {
        line-height: 1.1em!important;
        font-size: 2em!important;
    }
    .slogan {
        margin-left: 64px;
        padding-left: 55px;
    }

    .grid{
        flex-wrap: wrap !important;
        justify-content: space-around !important;
    }
    .grid figure {
        width: 46% !important;
        margin-bottom: 30px;
    }
    .row-quienes-somos {
        width: 100%;
    }
    .lista-quienes-somos li, .parrafo-quienessomos {
        font-size: 1em;
    }
    .somos-images{
        display: none;
    }
    .da-slide p {
        top: 130px !important;
        width: 50% !important;
        height: 130px !important;
    }
    .caption-style-3 {
        flex-wrap: wrap;
    }
    .caption-style-3 li {
        width: 46%;
        margin: 10px auto;
    }
    .caption-style-3 img {
        width: 100%;
    }
    .caption-style-3 .caption {
        top:350px;
    }
    .caption-style-3 .caption-text {
        top:9px;
        max-width: 100%;
    }
    .caption-style-3 .blur {
        width: 100%;
    }
    .mostrarOcultar{
        display: none !important;
    }
    .mi-slider ul li {
        width: 210px !important;
    }
}
.demo-2 {
    position:relative;
    width:300px;
    height:200px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:rgba(26,76,110,0.5)
}
.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.demo-2 p {
    font-family:'Lato';
    font-size:12px;
    line-height:18px;
    margin:0
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
    font-family:'Lato'
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .3s ease-in-out;
    -moz-transition:bottom .3s ease-in-out;
    -o-transition:bottom .3s ease-in-out;
    transition:bottom .3s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}


@media only screen and (min-width : 1024px){
    .span_banner {
        font-size: 2.1em !important;
    }
    .slogan {
       margin-left: 4em;
    }
    .grid figure {
        width:31% !important;
    }


    /*Hidrolavadoras*/
    .grid figure figcaption {
        padding: 0;
    }
    figure.effect-sadie figcaption::before {
        background: linear-gradient(to bottom, rgba(72, 76, 97, 0) 60%, #EFC34A 0%) !important;
    }

    figure.effect-sadie p {
        padding: 0.2em !important;
        font-size: 0.95rem !important;
        bottom: 8px !important;
    }


    figure.effect-sadie:hover h2 {
        -webkit-transform: translate3d(0,-60%,0) translate3d(0,-50px,0);
        transform: translate3d(0,-60%,0) translate3d(0,-50px,0);
        background-color: rgba(0, 0, 0, 0);
    }

    .row-quienes-somos {
        width: 100%;
    }
    .caption-style-3 li {
        width:23%;
    }

}
/* iPads (landscape) ----------- */
/*
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {

    .span_banner {
        line-height: 1.1em;
        font-size: 2.2em;
    }
    .slogan {
        margin-left: 60px;
    }
    .grid figure {
        width: 30% !important;;
    }
    .row-quienes-somos {
        width: 100%;
    }
    .lista-quienes-somos li, .parrafo-quienessomos {
        font-size: 1em;
    }
    .da-slide p {
        top: 130px !important;
        width: 50% !important;
        height: 130px !important;
    }
    .caption-style-3 {
        flex-wrap: nowrap;
    }
    .caption-style-3 li {
        width: 240px;
    }
    figure.effect-sadie:hover h2 {
        color: #fff;
        -webkit-transform: translate3d(0,-80%,0) translate3d(0,-50px,0);
        transform: translate3d(0,-80%,0) translate3d(0,-50px,0);
        background-color: rgba(0,0,0,0);
    }
    figure.effect-sadie:hover figcaption::before ,
    figure.effect-sadie:hover p {
        opacity: 1;
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
}
*/
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),  only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

@media screen and (max-width: 992px) {
    .gallery {
        width: auto;
    }
}
@media screen and (max-width: 768px){
    .gallery li {
        width: 50%;
    }
}
@media screen and (max-width: 468px) {
    .gallery li {
        width: 100%;
    }
}