html{
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
}
body{
    font-family: Ubuntu-L;
    font-size: 16px;
    width: 1280px;
}

a{
    color: #fff;
    text-decoration: none;
}
p{
    color: #000;
    line-height: 20px;
    text-align: left;
}

h2{
    font-family: Ubuntu-R;
    font-size: 1.3em;
    color:#fff;
}
h3{
    padding: 15px 0 5px 0;
    text-align: left;
    font-size: 1.1em;
    font-family: 'Ubuntu-R';
}
sub{
    display: block;
    font-size: 2em;
    font-family: 'Ubuntu-R';
    text-align: left;
    padding: 5px 5px 5px 0px;
}
sup{
    display: block;
    font-size: 1em;
    font-family: 'Ubuntu-M';
    text-align: left;
    padding: 0px 5px 5px 5px;
    color: rgb(255, 46, 52);
}
span{
    font-family: 'Ubuntu-M';
}
label{
    color: #fff;
}
header{
    height: 70px;
    background: #35393c;
    width: 100%;
}
input[type="submit"], input[type="reset"], input[type="button"], button, .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0.375em;
    border: 0;
    box-shadow: inset 0 0 0 2px #F56A6A;
    color: #F56A6A !important;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 700;
    height: 3.5em;
    letter-spacing: 0.075em;
    line-height: 3.5em;
    padding: 0 2.25em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    }

input[type="submit"].special, input[type="reset"].special, input[type="button"].special, button.special, .button.special {
    background-color: #35393C;
    box-shadow: none;
    color: #FFF !important;
}

input, select, textarea{
    color: #7F888F;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.65;
}
input[type="text"],input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], textarea, select{
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: rgba(0,0,0,0);
    /*border-radius: 0 0.375em 0.375em 0;*/
    border: none;
    color: inherit;
    display: block;
    outline: 0;
    text-decoration: none;
    width: 95.5%;
    font-family: "Ubuntu-L";
    padding-left: 1%;
    -webkit-transition: all 0.3s  ease-in-out;
    -moz-transition: all 0.3s  ease-in-out;
        border: 1px solid #CCC;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="search"], input[type="url"], select {
    height: 2.75em;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="search"]:focus, input[type="url"]:focus, select:focus, textarea:focus {
    border-color: #66AFE9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(102, 175, 233, 0.6);
}

button[type="submit"]:disabled {
       opacity: 0.8;
}


/*
        Loading

 */

.loader {
    border: 5px solid #F3F3F3;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * */

.select{
    background: rgba(0, 0, 0, 0);
    font-size: 1em;
    padding: 5px;
    display: block;
    margin-right: 20px;
}
.select-wrapper{
        text-decoration: none;
    display: block;
    position: relative;
}

.select-wrapper:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
   font-family: 'iconFontsediap' !important;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
    color: rgba(210, 215, 217, 0.75);
   content: "\f078";
    display: block;
    height: 2.75em;
    line-height: 2.75em;
    pointer-events: none;
    position: absolute;
    right: 20px;
    text-align: center;
    top: 0;
    width: 2.75em;
}
.formulario{
    padding: 1em 1em 0.5em 1.5em;
    margin: 0 0 30px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px;
    -moz-box-shadow: rgba(0,0,0,0.17) 0 5px 13px;
    box-shadow: rgba(0, 0, 0, 0.17) 0 5px 13px;
}
.formulario .row{
    margin-bottom: 15px;
}
.row-form{
    display: flex;
    justify-content: flex-end;
}
.span-icon{    
    font-size: 1.5em;
    width: 32px;
    display: flex;
    align-items: center;
    padding: 6px 12px;
    /* font-size: 14px; */
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #EEE;
    border: 1px solid #CCC;
    border-radius: 4px 0 0 4px; 
    border-right: 0;
}
.width-200{
    width: 200px;
}

.box{
    position: relative;
    transition: all 0.5s ease;
    }
.nav-menu{
    height: 100%;
}
.separador{
    padding: 0 10px;
}

header nav a p{
    padding: 25px 2px;
}

header nav a p, .separador{
    color: #fff;
    font-size: 1.1em;
    font-family: Ubuntu-M;
    transition: all .2s ease-in-out;
}

header nav a p:hover{
    color: #EFC34A;
    animation-name: floating;
    -webkit-animation-name: floating;

    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}
.slider{
    height: 400px;
    width: 100%;
    background: ghostwhite;
}

/* | Inicio Banner |*/

.banner{
    height: 200px;
    width: 100%;
    background-color:  #35393c;
}
.img_banner img{
    height: 200px;
}

.slogan{
    padding-top: 1.3em;
}
.span_banner{
    font-size: 2.38em;
    color: #FFF;
    font-family: Ubuntu-M;
    line-height: 1.3em;
}
.h2_banner{
    padding-top: 1.3rem;
}
/* | Fin Banner |*/


.mostrarOcultar{
    display: block;
}


.quienessomos{
    background-color:#e6e6e6;
    width: 100%;
    padding: 20px 0px 0px 0px;
}
.somos-images{
 display: block;
}
.row-quienes-somos{
    width: 90%;
    margin: 0 auto;
}
.lista-quienes-somos{
    text-align: left;
    padding: 10px 0 20px 0;
    list-style-image: url("../images/check.png");
    margin-left: 2rem;
}

.quienessomos-politicas{
    padding-left: 2.5rem;

}

.lista-quienes-somos li, .parrafo-quienessomos{
    padding: 5px 0;
    font-size: 1.1em;
    text-align: left;
}
.servicios{
    /*height: 430px;*/
    width: 100%;
    padding: 2em 0;
}
.box-servicios{
    position: relative;
    max-width: 288px;
}
.box-servicios:hover > .titulo-servicios{
    z-index: 99;
    position: relative;
    opacity: 1;
}

.resetLeft{
    margin-left: 0!important;
}
.resetRigth{
    margin-right: -1.3em;
}
.servicios sub{
    text-align: center;
    padding: 5px 5px 15px 0px;
}
.servicios hr{
    width: 40%;
    margin: 0 auto;
    padding-top: 10px;
}
.servicios h2{
    color: #000; 
    text-align: center; 
    text-transform: uppercase;
}
.titulo-servicios{
    background-color: #E6E6E6;
    padding: 10px 0;
    opacity: 0;
    margin-top: -46px;
    position: relative;
    border-bottom: 5px solid #35393C;
}
.titulo-servicios sup{
    text-align: center;
    font-size: 1.2em;
}


/* Inicio hover */
.caption-style-3{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    justify-content: space-between;
    cursor: pointer;
}

.caption-style-3 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.caption-style-3 li:hover .caption{
    opacity: 1;
    transform: translateY(-100px);
    -webkit-transform:translateY(-100px);
    -moz-transform:translateY(-100px);
    -ms-transform:translateY(-100px);
    -o-transform:translateY(-100px);
}

.caption-style-3 li:hover img{
    opacity: 1;
    transform: translateY(-40px);
    -webkit-transform:translateY(-40px);
    -moz-transform:translateY(-40px);
    -ms-transform:translateY(-40px);
    -o-transform:translateY(-40px);

}

.caption-style-3 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}

.caption-style-3 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top:270px;
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;
    width: 100%;
}

.caption-style-3 img{
    -webkit-transition:all 0.15s ease-in-out;
    -moz-transition:all 0.15s ease-in-out;
    -o-transition:all 0.15s ease-in-out;
    -ms-transition:all 0.15s ease-in-out;
    transition:all 0.15s ease-in-out;

}
.caption-style-3 .blur{
    background-color: #EFC34A;
    height: 300px;
    width: 288px;
    z-index: 5;
    position: absolute;
}

.caption-style-3 .caption-text h2{
    text-transform: uppercase;
    font-size: 1.2em;
    text-shadow: 1px 1px 0px #000;
}
.caption-style-3 .caption-text{
    z-index: 10;
    color: #fff;
    position: absolute;
    max-width: 288px;
    height: 300px;
    text-align: center;
    top:20px;
    width: 100%;
    display: flex;
    flex-direction: column;
}


.da-slider-secundario{
    height: 110px !important;
}

.text-negro{
    color: #000;
}

.margin-top-20{
    margin-top: 20px;
}
.modules{
    margin-top: 5px;
    width: 98%;

}


/* * * * * * * * * * * * * * * * * * * * *
*       Paginacion                       *
* * * * * * * * * * * * * * * * * * * *  */
.paginado{
    margin-left: 10px;
    margin-top: 8px;
}
.paginado a{
    color:#000;
    padding: 3px;
    border: 1px solid #7B7B7B;
    margin: 0 5px;
}
.paginado a span{
    vertical-align: middle;
    margin: 0 5px;
}
.paginado label{
    color: #000;
    padding: 3px;
    border: 1px solid #7B7B7B;
}
.paginado_vacio{
    display: block;
}



/* * * * * * * * * * * * *

        Modulos de productos o equipos

 * * * * * * * * * * * * */

/*Modulo de Equipo */
.contenido-header{
    /*width: 100%;*/
    padding: 0 0 1em 10px;
    display: flex;
    flex-direction: column;
}
.contenido-header div{
    display: flex;
    align-items: center;
}
.contenido-header div.filtros-select{
    display: none;
}
.detalles-productos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10px;
}

.opcionesEquipos{
    display: flex;
    flex-direction: row;
}

 .filtros_productos{
  margin-bottom: 20px;
 }

 .filtros_productos .title-producto{
    background:#35393C;
    padding: 10px;
 }

 .filtros_productos ul{
   list-style: none;
    padding: 10px 0px;
    background-color: #FFF;
}

.filtros_productos ul li{
     padding: 5px 10px;
     cursor: pointer;
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
}
.filtros_productos ul li:hover{
   background: #7B7B75;
   color:#fff;
}
.filtros_productos ul li:hover > a{
   color:#fff;
} 

.filtros_productos ul li a{
    color: #35393C;
}
.checkList_productos{
    background: #fff;
    padding-top: 5px;
}

.checnbox-filtros {
    margin: 7px 9px;
}
.gridProductos{
     padding-left: 10px;
    max-height: 1780px;
    min-height: 1066px;
    padding-bottom: 30px;
}
   
.cuadriculas{
    margin-left: 30px; 
}
.cuadriculas a{
    cursor: pointer;
}

.ico-views{
    font-size: 2em;
    margin-right: 0.4em;
    color: #35393C;
}

/* Gallery de Productos*/
.gallery {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    padding: 0px 0 30px 0;
}
.gallery li{
    position: relative;
    width: 33.333%;
    float: left;
    padding: 0.625rem;
    display: -webkit-flex;
    display: flex;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;
}

.gallery li .box {
     position: relative;
    padding: 6px 6px 6px 6px;
    background-color: #FFF;
}

.gallery li .box figure {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}
.gallery li .box figure img {
    width: 100%;
    height: auto;
}
.gallery li .box h3 {
    margin-bottom: 6px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    color: #000;
}

.gallery li .box .grid-textos{
        display: inline-flex;
}

.sup-gallery{
    opacity: 0;
    -webkit-transition: bottom .3s ease-in-out;
    -moz-transition: bottom .3s ease-in-out;
    -o-transition: bottom .3s ease-in-out;
    transition: bottom .3s ease-in-out;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    margin-top: -60px;
}
.sup-gallery a{
    background-color: #E21F1D;
    padding: 5px;
    font-family: 'Ubuntu-R';
    margin: 0 6px 0 6px;
    font-size: 1.2em;
}
.box:hover{
  box-shadow: 0px 0px 10px #888;
}
.box:hover > .sup-gallery {
  opacity: 1;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    visibility: visible !important;
    height: auto;
}
.btn{
      border: 1px solid #dedede;
  border-radius: 3px;
  color: #fff;
  display: inline-block;
  font: bold 12px/12px;
  padding: 8px 11px;
  text-decoration: none;
  font-family: 'Ubuntu-L';
}
.btn.red {
    font-size: 1.5em;
    color: #FFF;
    cursor: pointer;
    padding: 10px;
    background: -moz-linear-gradient( top, #f598a4 0%, #e64356);
    background: -webkit-gradient( linear, left top, left bottom, from(#F598A4), to(#E64356));
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: 1px solid #CA3851;
    -moz-box-shadow: 0px 1px 3px rgba(000,000,000,0.5), inset 0px -1px 0px rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5), inset 0px -1px 0px rgba(255, 255, 255, 0.7);
    text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(255, 255, 255, 0.3);
    border-radius: 100%;
}

.btn.red:hover {
    background: #F67C90;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f56c7e', endColorstr='#f78297');
    background: -webkit-linear-gradient(top, #F56C7E, #F78297);
    background: -moz-linear-gradient(top, #f56c7e, #f78297);
    border-color: #C36079 #C25669 #C14E5C;
    color: #fff !important;
    text-shadow: 0 1px 0 #F9A6B4;
    box-shadow: 0 1px 1px #C3C3C3, inset 0 1px 0 #F8909E;
}
.headers{
    width: 100%;
    padding: 1em 0;
}
.headers sub{
    text-align: center;
    padding: 0px 0px 10px 0px;
}
.productos-cotizacion{  
    background-color: #F2F2F2;
        padding: 1.5em;
}

.categoriaSeleccionada{
    background: #7B7B75;
    color: #FFF;
}
.itemMenuSeleccionado{
    color: #EFC34A;
}

.sliderContenidoVentanas{ 
    display: block;
    margin: 0 auto;
    height: 100px;
    width: 362.5px;
    margin-top: 5px;

    }
h2.zero,p.zero {
    margin:0;
    padding:0
}

/*Contactos*/
.title-header{

}
.nuestra-direccion{
    background-color: #E6E6E6;
    /*padding: 2em 1em;*/
    justify-content: space-around;
    /*height: 200px;*/
}
.nuestra-direccion-item{
    max-width: 400px;
    min-width: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
}
.contacto-empresa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0px 0 75px;
}
.contacnos{
    margin-top: 4.1em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4.1em;
}
.servicios p{
    text-align: center;
}
.header-contactanos{
    background-color: #FA5358;
    position: relative;
    color: #FFF;
    font-size: 1.1em;
    text-align: center;
    padding: 22px 25px;
    border-radius: 5px 5px 0px 0px;
    margin: auto;
    text-shadow: none;
}
.width-100{
    width: 100%;    
}
.maps{
    width: 40%;
}
.formularioContactanos{
    width: 55%;
}
.formContactanos{
    padding: 1.5em 2em;
    background-color: #FFF;
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 13px;
}
.rowFormulario{
    display: flex;
    flex-direction: row;
    /* border-bottom: solid 2px #D2D7D9; */
    margin: 0.5em 0;
}

.ico-contacto-empresa{
     justify-content: flex-end;
    display: flex;
    padding-right: 10px;   
}
 .ico-span{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.65);
    color: #35393C;
    text-align: center;
    font-size: 2.5em;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-item-nuestra-direccion{
    width: 77px;
    height: 77px;
    background-color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #35393C;
}
.nuestra-direccion-item p{
    text-align: center;
}
.icon-item-nuestra-direccion:hover{
   border: 1px solid #fff;
}

.icon-item-nuestra-direccion:hover > .ico-span{
    background-color: #35393C;
    color: #FFF;
}

.has-error{
    border-color: #A94442 !important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
}

/* Hover perron */

footer{
    /*background-color: rgba(255, 45, 52, 0.8);*/
    /*background-color: rgb(260,46,52);*/
    background-color: #FA5358;
    height: 50px;
    width: 100%;
}
.height-100{
    height: 100%;
}
.logo_footer{
       padding-left: 1em;
}
.logo_footer span{
    color: #fff;
}
.normal-footer{
    position: static;
}
.ajuste-footer{
    position: fixed;
    bottom: 0;
    left: 0;
}
.icon-redes-sociales{
    font-size: 2.2em;
    color: #FFF;
    margin-right: 25px;
}

/*
Medias
*/
/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
     .gridFiltros{
        display: none;
    }
    .gridProductos{
        max-width: 100% !important;
        flex-basis: 100%;
    }
    .contenido-header div.filtros-select{
        display: flex;
        margin-left: 20px;
    }
    .opcionesEquipos{
        display: none;
    }
    .paginado_vacio{
        display: none;
    }
    .detalles-productos {
        justify-content: center;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width : 321px) and (max-width : 480px) {
    .gridFiltros{
        display: none;
    }
    .gridProductos{
        max-width: 100% !important;
        flex-basis: 100%;
    }
    .contenido-header div.filtros-select{
        display: flex;
        margin-left: 20px;
    }
    .paginado_vacio{
        display: none;
    }
      .opcionesEquipos{
        display: none;
    }
    .paginado_vacio{
        display: none;
    }
    .detalles-productos {
        justify-content: center;
    }
          .contacnos{
        flex-direction: column;
        align-items: center;
    }
        .formularioContactanos{
        margin-top: 2em;
    }
    .formularioContactanos, .maps{
        width: 90%;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width : 481px) and (max-width : 767px) {
    .gridFiltros{
        display: none;
    }
    .gridProductos{
        max-width: 100% !important;
        flex-basis: 100%;
    }
    .contenido-header div.filtros-select{
        display: flex;
        margin-left: 20px;
    }
    .opcionesEquipos{
        display: none;
    }
    .paginado_vacio{
        display: none;
    }
    .detalles-productos {
        justify-content: center;
    }
        .contacnos{
        flex-direction: column;
        align-items: center;
    }
        .formularioContactanos{
        margin-top: 2em;
    }
    .formularioContactanos, .maps{
        width: 90%;
        margin-bottom: 1em;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1023px) {

    .span_banner {
        line-height: 1.1em!important;
        font-size: 2em!important;
    }
    .slogan {
        margin-left: 64px;
        padding-left: 55px;
    }

    .grid{
        flex-wrap: wrap !important;
        justify-content: space-around !important;
    }
    .grid figure {
        width: 46% !important;
        margin-bottom: 30px;
    }
    .row-quienes-somos {
        width: 100%;
    }
    .lista-quienes-somos li, .parrafo-quienessomos {
        font-size: 1em;
    }
    .somos-images{
        display: none;
    }
    .da-slide p {
        top: 130px !important;
        width: 50% !important;
        height: 130px !important;
    }
    .caption-style-3 {
        flex-wrap: wrap;
    }
    .caption-style-3 li {
        width: 46%;
        margin: 10px auto;
    }
    .caption-style-3 img {
        width: 100%;
    }
    .caption-style-3 .caption {
        top:350px;
    }
    .caption-style-3 .caption-text {
        top:9px;
        max-width: 100%;
    }
    
    ,.caption-text p{
        text-align: center;
    }
    .caption-style-3 .blur {
        width: 100%;
    }
    .mostrarOcultar{
        display: none !important;
    }
    .mi-slider ul li {
        width: 210px !important;
    }
    .gridFiltros{
        display: none;
    }
    .gridProductos{
        max-width: 100% !important;
        flex-basis: 100%;
    }
    .contenido-header div.filtros-select{
        display: flex;
        margin-left: 20px;
    }
    .contacnos{
        flex-direction: column;
        align-items: center;
    }
    .formularioContactanos{
        margin-top: 2em;
    }
    .formularioContactanos, .maps{
        width: 90%;
        margin-bottom: 1em;
    }
}

@media only screen and (min-width : 1024px){
    .span_banner {
        font-size: 2.1em !important;
    }
    .slogan {
       margin-left: 4em;
    }
    .grid figure {
        width:31% !important;
    }
    .row-quienes-somos {
        width: 100%;
    }
    .caption-style-3 li {
        width:23%;
    }
    .filtros-select{
        display: none;
    }
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
    /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
    /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio : 1.5),  only screen and (min-device-pixel-ratio : 1.5) {
    /* Styles */
}

@media screen and (max-width: 992px) {
    .gallery {
        width: auto;
    }
}
@media screen and (max-width: 768px){
    .gallery li {
        width: 50%;
    }
}
@media screen and (max-width: 468px) {
    .gallery li {
        width: 100%;
    }
}