<div id="da-slider" class="da-slider da-slider-secundario">
    <div class="sliderContenidoVentanas">
        <img src="images/sediap-logo.png" style="height: 100px" class="slideDown" alt="Logo SEDIAP"/>
    </div>
</div>
<section class="row">
    <aside class="col-xs-12">
            <aside class="servicios">
                <sub>Contactanos</sub>
                <hr>
               <p> MANEJE SU PROYECTO CON PROFESIONALES</p>
             </aside>
    
            <aside class="row nuestra-direccion">
                <div class="nuestra-direccion-item">
                    <div class="icon-item-nuestra-direccion">
                        <span class="icon-map-marker ico-span"></span>
                    </div>
                    <h3>Dirección</h3>
                        <p>Carretera la Isla KM. 1, Colonia Miguel Hidalgo, 00000. <br>Villahermosa, Tab. México</p>
                </div>
                <div class="nuestra-direccion-item">
                    <div class="icon-item-nuestra-direccion">
                        <span class="icon-volume-control-phone ico-span"></span>
                    </div>
                    <h3>Télefono</h3>
                        <p>(993) 297-8171<br>(993) 171-3869<br></p>
                </div>
                <div class="nuestra-direccion-item">
                   <div class="icon-item-nuestra-direccion">
                        <span class="icon-envelope ico-span"></span>
                    </div>
                    <h3>Correo</h3>
                        <p>sediap42_36@hotmail.com<br></p>
                </div>
            </aside>

            
            <div class="row contacnos">
                <aside class="col-xs-6">

                </aside>
                <aside class="col-xs-6">
                    <form >
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                <span class="icon-user-circle span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                <input type="text" placeholder="Nombre" name="nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                  <span class="icon-envelope-o span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                  <input type="email" placeholder="Correo" name="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                 <span class="icon-phone span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                <input type="text" placeholder="N. Teléfonico" name="celular" phone-input  ng-model="objcontacto.telefono" min="8">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                 <span class="icon-bullhorn span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                <input type="text" placeholder="Asunto" name="asunto" ng-model="objcontacto.asunto">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                <span class="icon-comment-o span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                <textarea name="mensaje" placeholder="Ingrese su mensaje" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="row start-xs">
                            <div class="col-xs">
                                <input type="submit" value="Enviar" class="special">
                            </div>
                        </div>
                    </form>
                </aside>

            </div>
    </aside>
</section>