<div id="da-slider" class="da-slider da-slider-secundario">
    <div class="sliderContenidoVentanas">
        <img src="images/sediap-logo.png" style="height: 100px" class="slideDown" alt="Logo SEDIAP"/>
    </div>
</div>
<section class="row">
    <aside class="col-xs-12">
        <aside class="servicios">
            <sub>Contactanos</sub>
            <hr>
            <br>
            <div class="row center-xs formulario">
                <aside class="col-xs-6">
                    <form >
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                <span class="icon-user-circle span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                <input type="text" placeholder="Nombre" name="nombre">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                  <span class="icon-envelope-o span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                  <input type="email" placeholder="Correo" name="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                 <span class="icon-phone span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                <input type="text" placeholder="N. Teléfonico" name="celular" phone-input  ng-model="objcontacto.telefono" min="8">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-1 row-form">
                                <span class="icon-comment-o span-icon"></span>
                            </div>
                            <div class="col-xs-11" >
                                <textarea name="mensaje" placeholder="Ingrese su mensaje" rows="6"></textarea>
                            </div>
                        </div>
                        <div class="row start-xs">
                            <div class="col-xs">
                                <input type="submit" value="Enviar" class="special">
                            </div>
                        </div>
                    </form>
                </aside>
                <aside class="col-xs-6 contacto-empresa">
                    <div class="row middle-xs">
                        <div class="col-xs-4 ico-contacto-empresa">
                            <span class="icon-map-marker ico-span"></span>
                        </div>
                       <div class="col-xs-8">
                            <p>Carretera la Isla KM. 1, Colonia Miguel Hidalgo, 00000. <br>Villahermosa, Tab. México<br></p>
                        </div>
                    </div>

                    <div class="row middle-xs">
                        <div class="col-xs-4 ico-contacto-empresa">
                            <span class="icon-volume-control-phone ico-span"></span>
                        </div>
                        <div class="col-xs-8">
                            <p>(993) 297-8171<br>(993) 171-3869<br></p>
                        </div>       
                    </div>
                    <div class="row middle-xs">
                       <div class="col-xs-4 ico-contacto-empresa">
                            <span class="icon-envelope ico-span"></span>
                        </div>
                        <div class="col-xs-8">
                            <p>sediap42_36@hotmail.com<br></p>
                        </div>
                    </div>
                </aside>
            </div>
        </aside>
    </aside>
</section>