<div id="da-slider" class="da-slider da-slider-secundario">
    <div class="" style="       /* background: #ff0000; */
        display: block;
        margin: 0 auto;
        height: 100px;
        width: 362.5px;
        margin-top: 5px;">
        <img src="images/sediap-logo.png" style="height: 100px" class="slideDown" alt="Logo SEDIAP"/>
        <!--<h1 class="slogan_logo">SERVICIO DE HIDROLAVORAS ALTA PRESION</h1>-->
    </div>
</div>
<ul class="gallery">
   <li>
       <article class="box">
           <figure>
               <img src="http://38.media.tumblr.com/222f39f4520d55100feff7237861b373/tumblr_n8gxs0oWZ21st5lhmo1_1280.jpg">
           </figure>
           <h3>Chanante ipsum dolor sit amet</h3>
           <p>Chanante ipsum dolor sit amet, nui, pepino en la mano ut gañán saepe. Nostrud bonico del tó, nisi ut piticli magna bizcoché ex ut ex minim ex zagal adipisicing.</p>
           <time>12/09/2014</time>
       </article>
   </li>
    <li>
        <article class="box">
            <figure>
                <img src="http://38.media.tumblr.com/222f39f4520d55100feff7237861b373/tumblr_n8gxs0oWZ21st5lhmo1_1280.jpg">
            </figure>
            <h3>Chanante ipsum dolor sit amet</h3>
            <p>Chanante ipsum dolor sit amet, nui, pepino en la mano ut gañán saepe. Nostrud bonico del tó, nisi ut piticli magna bizcoché ex ut ex minim ex zagal adipisicing.</p>
            <time>12/09/2014</time>
        </article>
    </li>
    <li>
        <article class="box">
            <figure>
                <img src="http://38.media.tumblr.com/222f39f4520d55100feff7237861b373/tumblr_n8gxs0oWZ21st5lhmo1_1280.jpg">
            </figure>
            <h3>Chanante ipsum dolor sit amet</h3>
            <p>Chanante ipsum dolor sit amet, nui, pepino en la mano ut gañán saepe. Nostrud bonico del tó, nisi ut piticli magna bizcoché ex ut ex minim ex zagal adipisicing.</p>
            <time>12/09/2014</time>
        </article>
    </li>
    <li>
        <article class="box">
            <figure>
                <img src="http://38.media.tumblr.com/222f39f4520d55100feff7237861b373/tumblr_n8gxs0oWZ21st5lhmo1_1280.jpg">
            </figure>
            <h3>Chanante ipsum dolor sit amet</h3>
            <p>Chanante ipsum dolor sit amet, nui, pepino en la mano ut gañán saepe. Nostrud bonico del tó, nisi ut piticli magna bizcoché ex ut ex minim ex zagal adipisicing.</p>
            <time>12/09/2014</time>
        </article>
    </li>
    <li>
        <article class="box">
            <figure>
                <img src="http://38.media.tumblr.com/222f39f4520d55100feff7237861b373/tumblr_n8gxs0oWZ21st5lhmo1_1280.jpg">
            </figure>
            <h3>Chanante ipsum dolor sit amet</h3>
            <p>Chanante ipsum dolor sit amet, nui, pepino en la mano ut gañán saepe. Nostrud bonico del tó, nisi ut piticli magna bizcoché ex ut ex minim ex zagal adipisicing.</p>
            <time>12/09/2014</time>
        </article>
    </li>
    <li>
        <article class="box">
            <figure>
                <img src="http://38.media.tumblr.com/222f39f4520d55100feff7237861b373/tumblr_n8gxs0oWZ21st5lhmo1_1280.jpg">
            </figure>
            <h3>Chanante ipsum dolor sit amet</h3>
            <p>Chanante ipsum dolor sit amet, nui, pepino en la mano ut gañán saepe. Nostrud bonico del tó, nisi ut piticli magna bizcoché ex ut ex minim ex zagal adipisicing.</p>
            <time>12/09/2014</time>
        </article>
    </li>
</ul>