<div id="da-slider" class="da-slider da-slider-secundario">
    <div class="" style="       /* background: #ff0000; */
        display: block;
        margin: 0 auto;
        height: 100px;
        width: 362.5px;
        margin-top: 5px;">
        <img src="images/sediap-logo.png" style="height: 100px" class="slideDown" alt="Logo SEDIAP"/>
        <!--<h1 class="slogan_logo">SERVICIO DE HIDROLAVORAS ALTA PRESION</h1>-->
    </div>
</div>
    <aside class="servicios">
        <sub>Equipos</sub>
        <hr>
        <br>
        <select class="select" ng-model="objIteracion.idTipoEquipoSelect" ng-change="objIteracion.cargarArray()">
            <option ng-repeat="option in  objIteracion.catEquipos" ng-value="option.id" ng-selected="option.id == '100'">{{option.name}}</option>
        </select>
    </aside>
<ul class="gallery">
   <li ng-repeat="eq in objIteracion.arrFiltrado">
       <article class="box">
           <figure>
               <img ng-src="images/{{eq.img}}">
           </figure>
           <h3>{{eq.name}}</h3>
           <sup>{{eq.marca + " " + eq.modelo}}</sup>
           <p ng-if="eq.presion != null"><b>Presión: </b>{{eq.presion}}</p>
           <p><b>Potencia: </b>{{eq.potencia_de_motor}}</p>
           <p><b>Motor: </b>{{eq.descMotor}}
                <label class="text-negro" ng-if="eq.idMotor == 1"><b>&nbsp;&nbsp;&nbsp;<br ng-if="eq.id == 3"> Voltaje: </b>{{eq.voltaje}}</label> 
                <label class="text-negro" ng-if="eq.idMotor == 2 || eq.idMotor == 3"><b>&nbsp;&nbsp;Consumo: </b>{{eq.consumo}}</label>
            </p>
            <p ng-if="eq.caldera != null"><b>Caldera: </b>{{eq.caldera}} &nbsp;&nbsp;</p>
           <p><b>Peso: </b>{{eq.peso}} &nbsp;&nbsp;</p>
           <p>
            {{eq.descripcion}}
           </p>
           <time> </time>
       </article>
   </li>
</ul>