<div id="da-slider" class="da-slider da-slider-secundario">
    <div class="sliderContenidoVentanas">
        <img src="images/sediap-logo.png" style="height: 100px" class="slideDown" alt="Logo SEDIAP"/>
    </div>
</div>
<section class="row">
                <aside class="servicios">
                <sub>Proyectos</sub>
                <hr>
               <h2>Desarrollo y crecimiento industrial</h2>
             </aside>
    <aside class="col-xs-3">
        <article>
            <figure>
                <img src="images/equipos/hidrolavadoras/tk-150.png">
            </figure>
            <div>

            </div>
        </article>
    </aside>
    <aside class="col-xs-9">
        <article class="post">
        <header>
            <h2><a href="#">Remolque<strong> Autonomo</strong> <br>Servicio de lavado a domicilio.</a></h2>
        </header>
        <a href="#" class="image featured"><img src="images/pic04.jpg" alt=""></a>
        <h3>Nuestra Pasión</h3>
        <p>Estamos comprometidos con el cuidado del medio ambiente, que hemos desarrollado un remolque autonomo con tecnologia ahorradoras de agua, dismuniyendo el impacto ambiental; al gestionar de manera integral los residuos que se genera durante todo el proceso de lavado.</p>
                                 
        <a href="#" class="button big">Continuar leyendo</a>
                                 
                                 
        </article>
    </aside>
</section>